{
  "openapi": "3.0.3",
  "info": {
    "title": "Trace – Reverse Face Search API",
    "version": "1.0.0",
    "description": "Reverse face search over the public web. POST one photo, get back the public pages and profiles that face appears on, each with a 50–100 similarity score.\n\n**Get your API key:** open https://traceaifacescan.app/?utm_source=rapidapi&utm_medium=referral, go to Panel → API and create a key (`trk_live_…`). Send it on every request as `Authorization: Bearer trk_live_…`.\n\n**Billing:** one credit per full search, bought in packs on traceaifacescan.app. No subscription, credits never expire.\n\n**Flow:** `POST /scans` (starts a scan, returns 202) → poll `GET /scans/{scan}` until `status` is `done` → if `locked` is true, `POST /scans/{scan}/reveal` spends one credit and runs the full search.\n\nErrors are `application/problem+json` with a stable `code` field.\n\nTrace returns public URLs and scores only — never names or personal records. Using it to identify, locate, monitor, stalk or harass anyone is forbidden by the terms.",
    "termsOfService": "https://traceaifacescan.app/terms",
    "contact": { "url": "https://traceaifacescan.app/ai-face-scan-api/" }
  },
  "servers": [{ "url": "https://traceaifacescan.app/api/v1" }],
  "security": [{ "bearerAuth": [] }],
  "tags": [
    { "name": "Scans", "description": "Start, poll, reveal and delete face searches" },
    { "name": "Account", "description": "Credit balance and key info" }
  ],
  "paths": {
    "/account": {
      "get": {
        "tags": ["Account"],
        "operationId": "getAccount",
        "summary": "Account and credit balance",
        "parameters": [{ "$ref": "#/components/parameters/Authorization" }],
        "responses": {
          "200": {
            "description": "Account",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Account" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthenticated" }
        }
      }
    },
    "/scans": {
      "get": {
        "tags": ["Scans"],
        "operationId": "listScans",
        "summary": "List scans (without matches)",
        "parameters": [
          { "$ref": "#/components/parameters/Authorization" },
          { "name": "page", "in": "query", "schema": { "type": "integer", "minimum": 1, "default": 1 } },
          { "name": "per_page", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 25 } }
        ],
        "responses": {
          "200": {
            "description": "Page of scans",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/ScanSummary" } },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": { "type": "integer" },
                        "per_page": { "type": "integer" },
                        "total": { "type": "integer" },
                        "last_page": { "type": "integer" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthenticated" }
        }
      },
      "post": {
        "tags": ["Scans"],
        "operationId": "createScan",
        "summary": "Start a face search",
        "description": "Uploads one photo and queues a search. Returns 202 immediately; poll GET /scans/{scan}. Without enough credits the scan still runs as a free preview and comes back with `locked: true`.",
        "parameters": [
          { "$ref": "#/components/parameters/Authorization" },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Retrying with the same key within 24 hours returns the original scan instead of starting (and charging) a new one.",
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["image"],
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "JPEG, PNG or WebP, max 8 MB, at least 200×200 px, one clearly visible face."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Scan queued",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ScanStarted" } } }
          },
          "200": {
            "description": "Idempotent replay — the scan created earlier with the same Idempotency-Key",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ScanStarted" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthenticated" },
          "422": { "$ref": "#/components/responses/Problem" },
          "500": { "$ref": "#/components/responses/Problem" }
        }
      }
    },
    "/scans/{scan}": {
      "parameters": [{ "$ref": "#/components/parameters/ScanId" }],
      "get": {
        "tags": ["Scans"],
        "operationId": "getScan",
        "summary": "Get a scan with its matches",
        "parameters": [{ "$ref": "#/components/parameters/Authorization" }],
        "responses": {
          "200": {
            "description": "Scan",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Scan" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthenticated" },
          "404": { "$ref": "#/components/responses/Problem" }
        }
      },
      "delete": {
        "tags": ["Scans"],
        "operationId": "deleteScan",
        "summary": "Delete a scan and its photos now",
        "parameters": [{ "$ref": "#/components/parameters/Authorization" }],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": { "type": "object", "properties": { "deleted": { "type": "boolean", "example": true } } }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthenticated" },
          "404": { "$ref": "#/components/responses/Problem" }
        }
      }
    },
    "/scans/{scan}/reveal": {
      "parameters": [{ "$ref": "#/components/parameters/ScanId" }],
      "post": {
        "tags": ["Scans"],
        "operationId": "revealScan",
        "summary": "Unlock a locked scan (spends one credit)",
        "description": "Runs the full search for a scan that came back with `locked: true`. If the scan is already unlocked, returns it unchanged without charging.",
        "parameters": [{ "$ref": "#/components/parameters/Authorization" }],
        "responses": {
          "202": {
            "description": "Full search queued; poll GET /scans/{scan}",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ScanStarted" } } }
          },
          "200": {
            "description": "Scan was already unlocked",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Scan" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthenticated" },
          "402": { "$ref": "#/components/responses/Problem" },
          "404": { "$ref": "#/components/responses/Problem" },
          "409": { "$ref": "#/components/responses/Problem" }
        }
      }
    },
    "/scans/{scan}/previews/{index}": {
      "parameters": [
        { "$ref": "#/components/parameters/ScanId" },
        {
          "name": "index",
          "in": "path",
          "required": true,
          "description": "Zero-based match index, as in `preview_url`.",
          "schema": { "type": "integer", "minimum": 0 }
        }
      ],
      "get": {
        "tags": ["Scans"],
        "operationId": "getMatchPreview",
        "summary": "Preview image of one match",
        "parameters": [{ "$ref": "#/components/parameters/Authorization" }],
        "responses": {
          "200": {
            "description": "Image",
            "content": {
              "image/jpeg": { "schema": { "type": "string", "format": "binary" } },
              "image/png": { "schema": { "type": "string", "format": "binary" } },
              "image/webp": { "schema": { "type": "string", "format": "binary" } }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthenticated" },
          "404": { "$ref": "#/components/responses/Problem" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer", "description": "API key from traceaifacescan.app → Panel → API (trk_live_…)" }
    },
    "parameters": {
      "Authorization": {
        "name": "Authorization",
        "in": "header",
        "required": true,
        "description": "Bearer trk_live_… — create the key at traceaifacescan.app → Panel → API.",
        "schema": { "type": "string", "example": "Bearer trk_live_xxxxxxxxxxxxxxxx" }
      },
      "ScanId": {
        "name": "scan",
        "in": "path",
        "required": true,
        "description": "Scan id (ULID) returned by POST /scans.",
        "schema": { "type": "string", "example": "01K5T3ZQ8V6X2Y9N4M7P0R1S2T" }
      }
    },
    "schemas": {
      "Account": {
        "type": "object",
        "properties": {
          "account_id": { "type": "string" },
          "credits": { "type": "integer", "example": 15 },
          "scan_cost": { "type": "integer", "example": 1 },
          "api_key": {
            "type": "object",
            "properties": {
              "name": { "type": "string" },
              "prefix": { "type": "string" },
              "rate_limit_per_min": { "type": "integer", "description": "0 = no per-minute limit" }
            }
          }
        }
      },
      "ScanSummary": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "number": { "type": "integer" },
          "status": { "type": "string", "enum": ["queued", "running", "done", "failed"] },
          "progress": { "type": "integer", "minimum": 0, "maximum": 100 },
          "locked": { "type": "boolean", "description": "True for a free preview: matches are hidden until the scan is revealed." },
          "match_count": { "type": "integer", "description": "Number of matches returned (0 while locked)." },
          "error_code": { "type": "string", "nullable": true, "example": "no_face_detected" },
          "created_at": { "type": "string", "format": "date-time" },
          "expires_at": { "type": "string", "format": "date-time", "nullable": true, "description": "When the scan and its photos are deleted." }
        }
      },
      "ScanStarted": {
        "allOf": [
          { "$ref": "#/components/schemas/ScanSummary" },
          { "type": "object", "properties": { "credits_remaining": { "type": "integer" } } }
        ]
      },
      "Scan": {
        "allOf": [
          { "$ref": "#/components/schemas/ScanSummary" },
          {
            "type": "object",
            "properties": {
              "matches": { "type": "array", "items": { "$ref": "#/components/schemas/Match" } }
            }
          }
        ]
      },
      "Match": {
        "type": "object",
        "properties": {
          "score": { "type": "integer", "minimum": 50, "maximum": 100, "nullable": true, "example": 87 },
          "tier": { "type": "string", "enum": ["weak", "possible", "strong", "near_certain"], "nullable": true },
          "platform": {
            "type": "string",
            "enum": ["instagram", "x", "facebook", "tiktok", "tinder", "linkedin", "youtube", "threads", "snapchat", "pinterest", "reddit", "telegram", "vk", "github", "onlyfans", "web"]
          },
          "handle": { "type": "string", "nullable": true },
          "url": { "type": "string", "format": "uri" },
          "preview_url": { "type": "string", "format": "uri", "nullable": true, "description": "Fetch with the same Authorization header." }
        }
      },
      "Problem": {
        "type": "object",
        "properties": {
          "type": { "type": "string", "format": "uri" },
          "title": { "type": "string" },
          "status": { "type": "integer" },
          "code": {
            "type": "string",
            "enum": ["insufficient_credits", "no_face_detected", "rate_limited", "unauthenticated", "not_found", "invalid_image", "validation_failed", "provider_unavailable", "server_error"]
          },
          "detail": { "type": "string" }
        }
      }
    },
    "responses": {
      "Unauthenticated": {
        "description": "Missing, malformed or revoked API key",
        "content": { "application/problem+json": { "schema": { "$ref": "#/components/schemas/Problem" } } }
      },
      "Problem": {
        "description": "Error (see `code`)",
        "content": { "application/problem+json": { "schema": { "$ref": "#/components/schemas/Problem" } } }
      }
    }
  }
}
